<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="epicor" showInDefault="1" showInWebsite="1" showInStore="1" type="text" translate="label"
                 sortOrder="150">
            <label>Epicor Integration</label>
            <tab>abhinaycore</tab>
            <resource>Abhinay_Epicor::epicor</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5">
                <label>General Setting</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <label>API URL</label>
                    <comment>Epicor API Url.</comment>
                </field>
                <field id="epicor_user" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <label>Epicor User</label>
                    <comment>Epicor user details.</comment>
                </field>
                <field id="epicor_password" translate="label" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <label>Epicor Password</label>
                    <comment>Epicor user password.</comment>
                </field>
                <field id="epicor_guest_entity" translate="label" type="text" sortOrder="50" showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <label>Epicor Guest Entity</label>
                    <comment>Epicor user guest entity.</comment>
                </field>
                <field id="epicor_guest_branch" translate="label" type="text" sortOrder="60" showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <label>Epicor Guest Branch</label>
                    <comment>Epicor user guest branch.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
